* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  background: #080814;
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

section {
  width: 100%;
}